<div class="notif-github-issue">
    <header class="notif-header">
        <h3>
            GitHub Issue &gt;
            <a class="notif-repo" href="{{ thread.repository.htmlUrl }}">
                {{ thread.repository.fullName }}
            </a>
            &gt; issue #{{ issue.number }}
            <span class="notif-thread-title">"{{ issue.title }}"</span>
        </h3>
    </header>

    <div class="notif-content">
        <img class="notif-actor-avatar-url" src="{{ lastComment.user.avatar_url }}"/>
        <p class="notif-content-inner">
            <a class="notif-actor" href="{{ lastComment.user.html_url }}">@{{ lastComment.user.login }}</a>:

            {% spaceless %}
                {% if lastComment.body|length > 100 %}
                    {{ lastComment.body|slice(0, 100)|striptags }}&hellip;
                {% else %}
                    {{ lastComment.body|striptags }}
                {% endif %}
            {% endspaceless %}
        </p>
    </div>

    <div class="notif-actions">
        <span class="notif-time">{{ thread.created_at }}</span>
    </div>
</div>
